#page-content {
    text-align: center;
}

#welcome {
    font-weight: bold;
}

#todo-list {
    list-style-type: none;
}

.todo-element.state-not-started {
    color: red;
}

.todo-element.state-started {
    color: black;
}

.todo-element.state-finished {
    color: green;
}
